body {
    overflow-x: hidden;
}

.list-inline, .form-inline {
    font-family: 'Ubuntu';
    align-content: center;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.form-inline {
    padding: 5%;
}

h1 {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu';
}

p {
    font-family: 'Lato';
}

.jumbotron {
    margin: 0px;
}

#imgdsubtitle {
    padding: 5% 0 0 0;
}

.main {
    padding: 15%;
    margin: 0px;
}

.main, .bottom {
    color: white;
    background-color: #2B2B2B;
}

.sub, .top {
    background-color: #EAC90F;
}

.sub {
    padding: 7.5%;
}

.row p {
    padding: 10% 10% 0 10%;
}

.imageholder {
    padding: 7% 0 0 0;
}

    .imageholder p {
        padding: 7% 0% 0% 0%;
    }

.col-sm-6 p {
    padding: 7% 0% 0% 0%;
}

#bottomp {
    padding: 7% 0% 10% 0%;
}

.imageholder #bottomp {
    padding: 7% 0% 40% 0;
}

/*FORMS*/
.form-group {
    background-color: #EAC90F;
    padding: 3px 5px 0px 10px;
    margin-bottom:100px;
}

    .form-group .form-control-static {
        color: black;
        font-family: 'Lato';
        padding: 1px 10px 1px 1px;
        margin-bottom:5px;
    }

#email, #sbj, #msg {
    color: white;
    background-color: #2B2B2B;
}
/*ICONS*/

.social li {
    padding: 0 2% 0 2%;
}

.grow {
    transition: all .2s ease-in-out;
}

.fa-twitter-square:hover:before {
    color: rgba(0, 172, 237, 1);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.fa-facebook-square:hover:before {
    color: rgba(59, 89, 152, 1);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.fa-github-square:hover:before {
    color: white;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}
